<article>
    <header>
        <div class="Toastify"></div>
        <div class="main-nav-area inner-nav-container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="p-0 container-fluid"><a href="/" class="navbar-brand">Node</a><span
                        class="navbar-text">
                        <div class="header-title outter-ly-ot ">
                            {{!-- <div class="title-wrapper"><span class="mini-title-box"
                                    style="background: rgb(143, 170, 219);">MP</span><span class="mini-title-box"
                                    style="background: rgb(250, 213, 56);">MD</span>
                                <h1 class="t1" style="color: rgb(143, 170, 219);">Master Part</h1>
                            </div> --}}
                        </div>
                    </span>
                    <nav id="responsive-navbar-nav" class="navbar navbar-expand navbar-light">
                        <div class="me-auto navbar-nav"></div>
                        {{!-- <div class="navbar-nav"><a href="https://lusi.austaltechdev.com" target="_blank"
                                data-rr-ui-event-key="https://lusi.austaltechdev.com" class="me-1 nav-link"><img
                                    src="/static/media/lusi-icon.0816d6cbd3ef4961b928550f2ca9afe5.svg"
                                    class="menu-icon"></a><a href="#" role="button" data-rr-ui-event-key="2"
                                class="nav-link" tabindex="0"><span
                                    class="user-letter-avatar badge rounded-pill bg-primary">A</span></a><a href="#"
                                role="button" data-rr-ui-event-key="#" class="nav-link" tabindex="0"><img
                                    src="/static/media/menu.7bfaf3384aaf18bce0ef93189e9d74b1.svg"
                                    class="menu-icon"></a><a href="#" role="button" data-rr-ui-event-key="#"
                                class="nav-link--sign-in nav-link" tabindex="0"></a></div> --}}
                    </nav>
                </div>
            </nav>
        </div>
    </header>
</article>