<header id="header" class="version-ii" style="height: 44px;">
    <div class="container">
        <div class="row top-bar">
            <!-- Top Nav of the page -->
            <nav class="col-xs-12 col-sm-6 policy-nav">
                <ul>
                    <li><a href="#">My Blog</a></li>
                    {{!-- <li><a href="#">privacy policy</a></li>
                    <li><a href="#">support</a></li> --}}
                </ul>
            </nav>
            <!-- Top Nav of the page end -->
            <div class="col-xs-12 col-sm-6 pull-right hidden-xs">
                <!-- Social Network of the page -->
                {{!-- <ul class="social-networks">
                    <li><a href="#"><span class="ico-facebook"></span></a></li>
                    <li><a href="#"><span class="ico-twitter"></span></a></li>
                    <li><a href="#"><span class="ico-google-plus"></span></a></li>
                    <li><a href="#"><span class="ico-linkedin"></span></a></li>
                    <li><a href="#"><span class="ico-pinterest"></span></a></li>
                </ul> --}}
                <!-- Social Network of the page end -->
            </div>
        </div>
    </div>
    <!-- Side Nav of the page -->
    <!-- Side Nav of the page end -->
</header>