<aside id="sidebar" class="col-xs-12 col-md-4">
    <!-- Widget of the page -->
    <section class="widget profile-widget version-ii hidden-sm hidden-xs wow fadeInUp" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <div class="profile-pic">
            <a href="#">
                {{!-- <img src="https://htmlbeans.com/html/dot/images/img11.jpg" alt="John Aston"> --}}
            </a>
        </div>
        {{!-- <h3><a href="#"><img src="images/text-jhon-aston.png" alt="jhon aston"></a></h3> --}}
        <p>Hi, I am John Aston. Duis autem vel eum dolor in hendrerit in vulputate velit esse mole consequat, vel
            illum dolore eu feugiat nulla lisis at vero eros et accumsan et iusto.</p>
        {{!-- Social Network of the page --}}
        {{!-- <ul class="social-networks">
            <li><a href="#"><span class="icon ico-facebook"></span></a></li>
            <li><a href="#"><span class="icon ico-twitter"></span></a></li>
            <li><a href="#"><span class="icon ico-google-plus"></span></a></li>
            <li><a href="#"><span class="icon ico-linkedin"></span></a></li>
            <li><a href="#"><span class="icon ico-pinterest"></span></a></li>
        </ul>
        Social Network of the page --}}
    </section>
    <!-- Widget of the page end -->
    <!-- Widget of the page -->
    {{!-- <div class="widget widget_search hidden-sm hidden-xs wow fadeInUp" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <form method="get" class="search-form" action="#">
            <fieldset>
                <input type="search" name="s" placeholder="Type to search here">
                <button type="button" class="ico-search"></button>
            </fieldset>
        </form>
    </div> --}}
    <!-- Widget of the page end -->
    <!-- Widget of the page -->
    {{!-- <section class="widget recent-posts-widget version-ii wow fadeInUp" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"> --}}
        {{!-- <header class="tab-head">
            <h3><a class="active" href="#tab1">Recent Posts</a></h3>
            <h3><a href="#tab2">Popular Posts</a></h3>
        </header> --}}
        {{!-- <div class="tab-content">
            <div id="tab1" class="active">
                <ul>
                    <li>
                        <div class="alignleft">
                            <img src="images/img27.jpg" alt="image description">
                        </div>
                        <div class="descr">
                            <h4><a href="single-post.html">Traveling is awesome if you <br>can enjoy.</a></h4>
                            <span class="post-tag">
                                <time datetime="2011-01-12"><a href="#">25th may</a></time>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="alignleft">
                            <img src="images/img28.jpg" alt="image description">
                        </div>
                        <div class="descr">
                            <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a>
                            </h4>
                            <span class="post-tag">
                                <time datetime="2011-01-12"><a href="#">25th may</a></time>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="alignleft">
                            <img src="images/img29.jpg" alt="image description">
                        </div>
                        <div class="descr">
                            <h4><a href="single-post.html">Holiday is awesome when loved <br>one beside me.</a></h4>
                            <span class="post-tag">
                                <time datetime="2011-01-12"><a href="#">25th may</a></time>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="tab2" class="js-tab-hidden">
                <ul>
                    <li>
                        <div class="alignleft">
                            <img src="images/img29.jpg" alt="image description">
                        </div>
                        <div class="descr">
                            <h4><a href="single-post.html">Holiday is awesome when loved <br>one beside me.</a></h4>
                            <span class="post-tag">
                                <time datetime="2011-01-12"><a href="#">25th may</a></time>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="alignleft">
                            <img src="images/img27.jpg" alt="image description">
                        </div>
                        <div class="descr">
                            <h4><a href="single-post.html">Traveling is awesome if you <br>can enjoy.</a></h4>
                            <span class="post-tag">
                                <time datetime="2011-01-12"><a href="#">25th may</a></time>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="alignleft">
                            <img src="images/img28.jpg" alt="image description">
                        </div>
                        <div class="descr">
                            <h4><a href="single-post.html">I get up in the morning looking <br>for an adventure.</a>
                            </h4>
                            <span class="post-tag">
                                <time datetime="2011-01-12"><a href="#">25th may</a></time>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div> --}}
        {{!-- </section> --}}
    <!-- Widget of the page end -->
    <!-- Widget of the page -->
    {{!-- <div class="widget promo-widget wow fadeInUp" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <a href="#"><img src="images/ad-placeholder.jpg" alt="“Place your Advertisement here”"></a>
    </div> --}}
    <!-- Widget of the page end -->
    <!-- Widget of the page -->
    {{!-- <div class="widget widget_categories version-ii wow fadeInUp" data-wow-delay="0.4s"
        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <header class="widget-head">
            <h3>Category</h3>
        </header>
        <ul>
            <li class="cat-item cat-item-1"><span><a href="#">- Lifestyle</a></span><span><a href="#">-
                        Lifestyle</a></span></li>
            <li class="cat-item cat-item-1"><span><a href="#">- Movie</a></span><span><a href="#">- Movie</a></span>
            </li>
            <li class="cat-item cat-item-1"><span><a href="#">- Travel</a></span><span><a href="#">- Travel</a></span>
            </li>
            <li class="cat-item cat-item-1"><span><a href="#">- Sports</a></span><span><a href="#">- Sports</a></span>
            </li>
            <li class="cat-item cat-item-1"><span><a href="#">- Music</a></span><span><a href="#">- Music</a></span>
            </li>
        </ul>
    </div> --}}
    <!-- Widget of the page end -->
</aside>