{{> header}}
<main class="main-content-wrapper">
  <div class="content-area fade-container">
    <div class="w-100">
      {{> lovedChamps}}
      {{> hatedChamps}}

      <h2>{{proPlayer}}</h2>
    </div>
  </div>
</main>
{{>footer}}